<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @user.username %></h1>
    <p>
      <%= @current_user.username %> with email:-<%= @current_user.email %>
      visited your Property
    </p>
  </body>
</html>
